.content {
  display: flex;
  justify-content: space-between;

  .form_submit {
    width: 48%;
    border: 1px solid #333;
    padding: 10px;

    #input_name {
      padding: 5px;
      width: 50%;
      transition: all 0.1s;

      &:focus {
        outline: none;
      }
    }

    .validation {
      border-color: red;
    }

    .radio {
      margin: 8px 0;
    }
  }

  .btn_block {
    text-align: center;
    padding-top: 10px;

    .btn {
      padding: 5px;
      margin: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}